<a href="https://colab.research.google.com/github/WhitneyMadafali/Machine-Learning-Task-Two/blob/main/Machine_Learning_Task_Two.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np


from sklearn.decomposition import PCA
import matplotlib.pyplot as plt
from sklearn.preprocessing import scale
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.linear_model import Lasso, LassoCV 
from sklearn import model_selection
from sklearn.model_selection import RepeatedKFold
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn import decomposition

from keras.layers import Dense
from keras.models import Sequential

1. prepare a dataset description file.

In [ ]:
from google.colab import files

uploaded = files.upload()
dataset = pd.read_csv(io.BytesIO(uploaded['modified_data.csv']))

Saving modified_data.csv to modified_data (5).csv

2. prepare the dataset for training

In [ ]:
dataset.shape

(1460, 77)

In [ ]:
print(dataset)

        Id  MSSubClass MSZoning  LotFrontage  LotArea Street LotShape  \
0        1          60       RL         65.0     8450   Pave      Reg
1        2          20       RL         80.0     9600   Pave      Reg
2        3          60       RL         68.0    11250   Pave      IR1
3        4          70       RL         60.0     9550   Pave      IR1
4        5          60       RL         84.0    14260   Pave      IR1
...    ...         ...      ...          ...      ...    ...      ...
1455  1456          60       RL         62.0     7917   Pave      Reg
1456  1457          20       RL         85.0    13175   Pave      Reg
1457  1458          70       RL         66.0     9042   Pave      Reg
1458  1459          20       RL         68.0     9717   Pave      Reg
1459  1460          20       RL         75.0     9937   Pave      Reg

     LandContour Utilities LotConfig  ... EnclosedPorch 3SsnPorch ScreenPorch  \
0            Lvl    AllPub    Inside  ...             0         0           0
1            Lvl    AllPub       FR2  ...             0         0           0
2            Lvl    AllPub    Inside  ...             0         0           0
3            Lvl    AllPub    Corner  ...           272         0           0
4            Lvl    AllPub       FR2  ...             0         0           0
...          ...       ...       ...  ...           ...       ...         ...
1455         Lvl    AllPub    Inside  ...             0         0           0
1456         Lvl    AllPub    Inside  ...             0         0           0
1457         Lvl    AllPub    Inside  ...             0         0           0
1458         Lvl    AllPub    Inside  ...           112         0           0
1459         Lvl    AllPub    Inside  ...             0         0           0

     PoolArea MiscVal MoSold  YrSold  SaleType  SaleCondition  SalePrice
0           0       0      2    2008        WD         Normal     208500
1           0       0      5    2007        WD         Normal     181500
2           0       0      9    2008        WD         Normal     223500
3           0       0      2    2006        WD        Abnorml     140000
4           0       0     12    2008        WD         Normal     250000
...       ...     ...    ...     ...       ...            ...        ...
1455        0       0      8    2007        WD         Normal     175000
1456        0       0      2    2010        WD         Normal     210000
1457        0    2500      5    2010        WD         Normal     266500
1458        0       0      4    2010        WD         Normal     142125
1459        0       0      6    2008        WD         Normal     147500

[1460 rows x 77 columns]

In [ ]:
new_dataset = dataset.drop('Id', axis = 'columns', inplace = False)

In [ ]:
print(new_dataset)

      MSSubClass MSZoning  LotFrontage  LotArea Street LotShape LandContour  \
0             60       RL         65.0     8450   Pave      Reg         Lvl
1             20       RL         80.0     9600   Pave      Reg         Lvl
2             60       RL         68.0    11250   Pave      IR1         Lvl
3             70       RL         60.0     9550   Pave      IR1         Lvl
4             60       RL         84.0    14260   Pave      IR1         Lvl
...          ...      ...          ...      ...    ...      ...         ...
1455          60       RL         62.0     7917   Pave      Reg         Lvl
1456          20       RL         85.0    13175   Pave      Reg         Lvl
1457          70       RL         66.0     9042   Pave      Reg         Lvl
1458          20       RL         68.0     9717   Pave      Reg         Lvl
1459          20       RL         75.0     9937   Pave      Reg         Lvl

     Utilities LotConfig LandSlope  ... EnclosedPorch 3SsnPorch ScreenPorch  \
0       AllPub    Inside       Gtl  ...             0         0           0
1       AllPub       FR2       Gtl  ...             0         0           0
2       AllPub    Inside       Gtl  ...             0         0           0
3       AllPub    Corner       Gtl  ...           272         0           0
4       AllPub       FR2       Gtl  ...             0         0           0
...        ...       ...       ...  ...           ...       ...         ...
1455    AllPub    Inside       Gtl  ...             0         0           0
1456    AllPub    Inside       Gtl  ...             0         0           0
1457    AllPub    Inside       Gtl  ...             0         0           0
1458    AllPub    Inside       Gtl  ...           112         0           0
1459    AllPub    Inside       Gtl  ...             0         0           0

     PoolArea MiscVal  MoSold  YrSold  SaleType  SaleCondition SalePrice
0           0       0       2    2008        WD         Normal    208500
1           0       0       5    2007        WD         Normal    181500
2           0       0       9    2008        WD         Normal    223500
3           0       0       2    2006        WD        Abnorml    140000
4           0       0      12    2008        WD         Normal    250000
...       ...     ...     ...     ...       ...            ...       ...
1455        0       0       8    2007        WD         Normal    175000
1456        0       0       2    2010        WD         Normal    210000
1457        0    2500       5    2010        WD         Normal    266500
1458        0       0       4    2010        WD         Normal    142125
1459        0       0       6    2008        WD         Normal    147500

[1460 rows x 76 columns]

In [ ]:
new_dataset.shape

(1460, 76)

3. Fill in missing values using SimpleImputer Class

In [ ]:
#Initializing an instance of the SimpleImputer class
imputer = SimpleImputer(strategy="mean", missing_values=np.nan)

In [ ]:
#Using the fit() function to fit the imputer on the column
imputer = imputer.fit(dataset[["LotFrontage"]])

In [ ]:
#Using the transform() function to fill the missing values
dataset["LotFrontage"] = imputer.transform(dataset[["LotFrontage"]])

In [ ]:
dataset

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,Reg,Lvl,AllPub,FR2,...,0,0,0,0,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,IR1,Lvl,AllPub,Inside,...,0,0,0,0,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,IR1,Lvl,AllPub,Corner,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,IR1,Lvl,AllPub,FR2,...,0,0,0,0,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,Reg,Lvl,AllPub,Inside,...,112,0,0,0,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,6,2008,WD,Normal,147500

In [ ]:
imputer = SimpleImputer(strategy="most_frequent", missing_values=np.nan)
imputer = imputer.fit(dataset[["FireplaceQu"]])
dataset[["FireplaceQu"]] = imputer.transform(dataset[["FireplaceQu"]])
dataset

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,Reg,Lvl,AllPub,FR2,...,0,0,0,0,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,IR1,Lvl,AllPub,Inside,...,0,0,0,0,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,IR1,Lvl,AllPub,Corner,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,IR1,Lvl,AllPub,FR2,...,0,0,0,0,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,Reg,Lvl,AllPub,Inside,...,112,0,0,0,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,6,2008,WD,Normal,147500

4. Encode the dataset

In [ ]:
dataset.dtypes

Id                 int64
MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
                  ...
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
Length: 77, dtype: object

In [ ]:
#Selecting columns based on their data type
categorical_columns_selector = selector(dtype_include=object)
categorical_columns = categorical_columns_selector(dataset)
categorical_columns

['MSZoning',
 'Street',
 'LotShape',
 'LandContour',
 'Utilities',
 'LotConfig',
 'LandSlope',
 'Neighborhood',
 'Condition1',
 'Condition2',
 'BldgType',
 'HouseStyle',
 'RoofStyle',
 'RoofMatl',
 'Exterior1st',
 'Exterior2nd',
 'MasVnrType',
 'ExterQual',
 'ExterCond',
 'Foundation',
 'BsmtQual',
 'BsmtCond',
 'BsmtExposure',
 'BsmtFinType1',
 'BsmtFinType2',
 'Heating',
 'HeatingQC',
 'CentralAir',
 'Electrical',
 'KitchenQual',
 'Functional',
 'FireplaceQu',
 'GarageType',
 'GarageFinish',
 'GarageQual',
 'GarageCond',
 'PavedDrive',
 'SaleType',
 'SaleCondition']

In [ ]:
#filtering unwanted columns
dataset_categorical = dataset[categorical_columns]
dataset_categorical.head()

,MSZoning,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,...,KitchenQual,Functional,FireplaceQu,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,SaleType,SaleCondition
0,RL,Pave,Reg,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,Norm,...,Gd,Typ,Gd,Attchd,RFn,TA,TA,Y,WD,Normal
1,RL,Pave,Reg,Lvl,AllPub,FR2,Gtl,Veenker,Feedr,Norm,...,TA,Typ,TA,Attchd,RFn,TA,TA,Y,WD,Normal
2,RL,Pave,IR1,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,Norm,...,Gd,Typ,TA,Attchd,RFn,TA,TA,Y,WD,Normal
3,RL,Pave,IR1,Lvl,AllPub,Corner,Gtl,Crawfor,Norm,Norm,...,Gd,Typ,Gd,Detchd,Unf,TA,TA,Y,WD,Abnorml
4,RL,Pave,IR1,Lvl,AllPub,FR2,Gtl,NoRidge,Norm,Norm,...,Gd,Typ,TA,Attchd,RFn,TA,TA,Y,WD,Normal

In [ ]:
encoder = OneHotEncoder(sparse=False)

In [ ]:
dataset_encoded = encoder.fit_transform(dataset_categorical)
dataset_encoded

array([[0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       ...,
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.]])

In [ ]:
columns_encoded = encoder.get_feature_names_out(dataset_categorical.columns)
pd.DataFrame(dataset_encoded, columns=columns_encoded).head()

,MSZoning_C (all),MSZoning_FV,MSZoning_RH,MSZoning_RL,MSZoning_RM,Street_Grvl,Street_Pave,LotShape_IR1,LotShape_IR2,LotShape_IR3,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0

5. Standardize the dataset

In [ ]:
target = ['SalePrice']

In [ ]:
dataset_encoded[target]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  """Entry point for launching an IPython kernel.

IndexError: ignored

In [ ]:
dataset_encoded.shape

(1460, 250)

In [ ]:
X=dataset.drop('SalePrice', axis = 1)
X=np

In [ ]:
y=dataset[target]
y

      SalePrice
0        208500
1        181500
2        223500
3        140000
4        250000
...         ...
1455     175000
1456     210000
1457     266500
1458     142125
1459     147500

[1460 rows x 1 columns]

In [ ]:
#X=X.to_numpy()
#X

In [ ]:
y=y.to_numpy()
y

array([[208500],
       [181500],
       [223500],
       ...,
       [266500],
       [142125],
       [147500]])

In [ ]:
X.shape

In [ ]:
y.shape

(1460, 1)

In [ ]:
y=StandardScaler().fit_transform(y)

In [ ]:
y

array([[ 0.34727322],
       [ 0.00728832],
       [ 0.53615372],
       ...,
       [ 1.07761115],
       [-0.48852299],
       [-0.42084081]])

6. Performance Extraction using PCA

In [ ]:
pca=PCA(n_components=2)

7. Perform feature selection using L1

In [ ]:
regressor=LassoCV()

8.Train a regression model using PCA with 2 components

In [ ]:
X = data[['BsmtFinSF1', 'LotArea']]
y = data[['SalePrice']]